@model DeliveryCountry
@{
    Layout = "_Layout";
}

<form class="popup" asp-controller="DeliveryCountry" asp-action="Create">
    <div class="popup-inner">
        <p class="addingWorkerPopup">Добавление страны</p>
        <ul class="popupinput">
            <li style="width:100%;">
                <span>Наименование страны*</span>
                <input asp-for="DeliveryCountryName" required type="text" placeholder="Введите наименование страны" />
                @Html.ValidationMessageFor(model => model.DeliveryCountryName, null, new { style = "color:red" })
            </li>
            
        </ul>
        <a type="button" asp-action="List" asp-controller="DeliveryCountry" class="closepopup">X</a>
        <div class="popup_button">
            <button class="popupsubmit" type="submit">
                Создать
            </button>
            <button class="popupclear" type="reset">
                Очистить
            </button>
        </div>
    </div>
</form>

