@model IEnumerable<MyKursach2.Models.Position>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Должности";
}



<div class="table-responsive" style="height: 100%;">
    <h1 class="text-center">Должности</h1>
    <table class="table table-bordered table-hover ">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Наименование должности</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var el in Model)
            {
            <tr>
                <th scope="row">
                    @el.Id
                </th>
                <td>
                    @el.PositionName
                </td>
                <td>
                    @el.PositionName
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>


