@model Position
@{
    Layout = "_Layout";
}

<form class="popup" method="post" asp-controller="Position" asp-action="Delete" asp-route-id="@Model.Id">
    <div class="popup-inner d-flex justify-content-around flex-lg-wrap">
        <p style="width:100%;" class="text-center">Вы уверены?</p>
        <button class="btn btn-success" type="submit">Да</button>
        <a class="btn btn-danger" type="button" asp-action="Edit" asp-controller="Position" asp-route-id=@Model.Id>Нет</a>
    </div>   
</form>>

